{{ define "title" }}
{{ .Site.Title }}
{{ end }}

{{ define "main" }}
<main id="main">
  {{ .Content }}
</main>

<nav id="second-nav" aria-label="Call to actions">
  <ul class="cta">
    <li>
      <a id="button-1" class="cta-buttons" href="{{ relURL "about/ecosystem-map/" }}" target="_blank" rel="noopener noreferrer">
        <span>Ecosystem map >></span>
        <img src="/images/button-hands-map-compass.svg/" alt="Illustration of hands holding a map">
      </a>
    </li>
    <li>
      <a id="button-2" class="cta-buttons" href="{{ relURL "about/zines/" }}" target="_blank" rel="noopener noreferrer">
        <span>Zines >></span>
        <img src="/images/button-hands-flyer.svg/" alt="Illustration of hands holding a flyer">
      </a>
    </li>
    <li>
      <a id="button-3" class="cta-buttons" href="{{ relURL "about/design-curriculum/" }}" target="_blank" rel="noopener noreferrer">
        <span>Curriculum >></span>
        <img src="/images/button-hands-pen.svg/" alt="Illustration of hand holding a pen">
      </a>
    </li>
    <li>
      <a id="button-4" class="cta-buttons" href="{{ relURL "about/positionality/" }}" target="_blank" rel="noopener noreferrer">
        <span>Positionality >></span>
        <img src="/images/button-hands-puzzle.svg/" alt="Illustration of hand holding a puzzle piece">
      </a>
    </li>
    <li>
      <a id="button-5" class="cta-buttons" href="{{ relURL "about/social-systems-map/" }}" target="_blank" rel="noopener noreferrer">
        <span>Social systems map >></span>
        <img src="/images/button-hands-compass.svg/" alt="Illustration of hands holding a compas">
      </a>
    </li>
    <li>
      <a id="button-6" class="cta-buttons" href="{{ relURL "about/user-project/" }}" target="_blank" rel="noopener noreferrer">
        <span>About USER >></span>
        <img src="/images/button-hands-book.svg/" alt="Illustration of hands holding a book">
      </a>
    </li>
    <li>
      <a id="button-7" class="cta-buttons" href="{{ relURL "about/project-journey/" }}" target="_blank" rel="noopener noreferrer">
        <span>USER Project journey >></span>
        <img src="/images/button-hands-tape-measure.svg/" alt="Illustration of hand holding a tape-measure">
      </a>
    </li>
    <li>
      <a id="button-8" class="cta-buttons" href="{{ relURL "about/glossary-and-terminology/" }}" target="_blank" rel="noopener noreferrer">
        <span>Glossary & terminology >></span>
        <img src="/images/button-hands-cards.svg/" alt="Illustration of hand holding a playing cards">
      </a>
    </li>
  </ul>
</nav>
{{ end }}