{{ define "title" }}
{{ .Site.Title }}
{{ end }}

{{ define "main" }}
<main id="main">
  {{ .Content }}
</main>

<nav id="second-nav">
  <ul class="cta">
    <li>
      <button id="button-1" class="cta-buttons" onclick="window.location.href='{{ relURL "about/ecosystem-map/" }}'"
        tabindex="0" target="_blank" rel="noopener noreferrer">
        <span>Ecosystem map >></span>
        <img src="/images/button-hands-map-compass.svg/" alt="">
      </button>
    </li>
    <li>
      <button id="button-2" class="cta-buttons" onclick="window.location.href='{{ relURL "about/zines/" }}'" tabindex="0" target="_blank" rel="noopener noreferrer">
        <span>Zines >></span>
        <img src="/images/button-hands-flyer.svg/" alt="">
      </button>
    </li>
    <li>
      <button id="button-3" class="cta-buttons" onclick="window.location.href='{{ relURL "about/design-curriculum/" }}'" tabindex="0" target="_blank" rel="noopener noreferrer">
        <span>Curriculum >></span>
        <img src="/images/button-hands-pen.svg/" alt="">
      </button>
    </li>
    <li>
      <button id="button-4" class="cta-buttons" onclick="window.location.href='{{ relURL "about/positionality/" }}'" tabindex="0" target="_blank" rel="noopener noreferrer">
        <span>Positionality >></span>
        <img src="/images/button-hands-puzzle.svg/" alt="">
      </button>
    </li>
    <li>
      <button id="button-5" class="cta-buttons" onclick="window.location.href='{{ relURL "about/social-systems-map/" }}'" tabindex="0" target="_blank" rel="noopener noreferrer">
        <span>Social systems map >></span>
        <img src="/images/button-hands-compass.svg/" alt="">
      </button>
    </li>
    <li>
      <button id="button-6" class="cta-buttons" onclick="window.location.href='{{ relURL "about/user-project/" }}'" tabindex="0" target="_blank" rel="noopener noreferrer">
        <span>About USER >></span>
        <img src="/images/button-hands-book.svg/" alt="">
      </button>
    </li>
    <li>
      <button id="button-7" class="cta-buttons" onclick="window.location.href='{{ relURL "about/project-journey/" }}'" tabindex="0" target="_blank" rel="noopener noreferrer">
        <span>USER Project journey >></span>
        <img src="/images/button-hands-tape-measure.svg/" alt="">
      </button>
    </li>
    <li>
      <button id="button-8" class="cta-buttons" onclick="window.location.href='{{ relURL "about/glossary-and-terminology/" }}'" tabindex="0" target="_blank" rel="noopener noreferrer">
        <span>Glossary & terminology >></span>
        <img src="/images/button-hands-cards.svg/" alt="">
      </button>
    </li>
  </ul>
</nav>
{{ end }}