/* ///////////////////////////////////////////////////////////////////////

// Site custom styles

/////////////////////////////////////////////////////////////////////// */

@import "./styles.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: #111;
  color: #fefefe;
}

.header-image {
  position: relative;
  padding: 10px;
}

.header-image img {
  position: relative;
  height: auto;
  top: 10;
  left: 0;
  width: 100%;
  z-index: -1;
}

#main li+li {
  margin: 0;
}

.pattern {
  display: flex;
  gap: 0;
  margin: 32px;
}

.pattern a {
  display: flex;
  gap: 8px;
}

.pattern a .text,
.pattern a .bullet {
  font-family: JetBrains Mono, monospace;
  line-height: 1.2;
}

.pattern a .text {
  margin: 0 0 0;
  padding: 8px;
}

.pattern a .bullet {
  padding: 8px;
  margin: 0;
}

.sidebar-headings {
  background: #111;
  color: #fefefe;
  font-family: JetBrains Mono, monospace;
  font-style: normal;
  line-height: 1.36rem;
  margin: 0;
  padding: 0;
}

.sidebar-headings a {
  border-bottom: none;
}

.wrapper-main {
  background-color: transparent;
  position: relative;
  margin-top: 0 !important;
  padding-bottom: 0;
  padding-top: 0 !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wrapper-main>#main ul li:before {
  content: ">>";
  font-family: JetBrains Mono, monospace;
  font-weight: bold;
  position: relative;
  top: 36px;
  left: -40px;
}


/* ul#patterns-list li.pattern:before {
  content: ">>";
  font-family: JetBrains Mono, monospace;
  font-weight: bold;
  letter-spacing: 1.61px;
  position: relative;
  padding: 8px 0;
  top: 0;
  left: 0;

} */

.wrapper-main>#main ul {
  list-style: none;
  margin: 0;
  padding: 0 2rem;
}

.wrapper-bg-image {
  display: flex;
  position: fixed;
  width: auto;
  left: 400px;
  top: 300px;
  height: 100%;
  max-height: 66vh;
  z-index: -1;
}

.bg {
  background-color: transparent;
  position: relative;
}

.bg-image {
  max-width: 100%;
  max-height: 100%;
  opacity: .25;
  z-index: -1;
}

#main {
  z-index: 1;
}