/* ///////////////////////////////////////////////////////////////////////

// Site custom styles

/////////////////////////////////////////////////////////////////////// */
@import "./fonts.css";
@import "./styles.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: #111;
  color: #fefefe;
}

.cta {
  display: grid;
  gap: 15px 30px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(auto-fit, 1fr);
}

@media screen and (max-width: 1200px) {
  .cta {
    display: flex;
    flex-flow: column wrap;
    column-gap: 30px;
    align-items: center;
  }
}

.cta-buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  height: 161.3px;
  justify-content: space-between;
  overflow: hidden;
  padding: 24px;
  text-align: left;
  width: 381.5px;
  font-size: 1.25rem;
  border-radius: 0.33em;
  font-family: inherit;
  background: #111;
  color: #fefefe;
  border: 0;
}

.cta-buttons img {
  margin: 0;
  width: 100%;
  height: auto;
  max-width: 180px;
  max-height: --webkit-fill-available;
}

.cta-buttons span {
  font-weight: bold;
}

.bg {
  background-color: transparent;
  position: relative;
}

.bg-image {
  max-width: 100%;
  max-height: 100%;
  opacity: .25;
  z-index: -1;
}

#button-2 img {
  position: relative;
  top: 24px;
  left: -42px;
}

#button-5 img {
  position: relative;
  left: 24px;
}

#button-7 img {
  position: relative;
  left: 24px;
}

#button-4 img,
#button-8 img {
  position: relative;
  top: 24px;
}

#button-7 span {
  position: relative;
  min-width: 180px;
}

#button-4 span,
#button-8 span {
  position: relative;
  min-width: 220px;
}

#button-2 span,
#button-3 span,
#button-5 span {
  position: relative;
  min-width: 200px
}

figure {
  @media screen and (max-width: 1200px) {
  visibility: hidden;
  }
}

.intro-and-nav {
 width: 16rem;
}

.intro-and-nav>div {
  padding: 1.5rem 1.6rem;
}

.library-desc {
  margin: 40px auto;
}

.header-image {
  position: relative;
  padding: 10px;
}

.header-image img {
  position: relative;
  height: auto;
  top: 10;
  left: 0;
  width: 100%;
  z-index: -1;
}

#main {
  z-index: 1;
}

#main li+li {
  margin: 0;
}

.pattern {
  display: flex;
  gap: 0;
  margin: 8px;
}

.pattern a {
  display: flex;
  gap: 8px;
}

.pattern a .text,
.pattern a .bullet {
  font-family: IBM Plex Mono, monospace;
  line-height: 1.2;
}

.pattern a .text {
  margin: 0 0 0;
  padding: 4px;
}

.pattern a .bullet {
  padding: 8px;
  margin: 0;
}

#second-nav>ul {
  list-style-type: none;
}

#second-nav>ul li button {}

.sidebar-headings {
  background: #111;
  color: #fefefe;
  font-family: IBM Plex Mono, monospace;
  font-style: normal;
  line-height: 1.36rem;
  margin: 0;
  padding: 0;
}

.sidebar-headings a {
  border-bottom: none;
}

/* ul#patterns-list li.pattern:before {
  content: ">>";
  font-family: IBM Plex Mono, monospace;
  font-weight: bold;
  letter-spacing: 1.61px;
  position: relative;
  padding: 8px 0;
  top: 0;
  left: 0;

} */

.wrapper-main {
  background-color: transparent;
  position: relative;
  margin-top: 0 !important;
  padding-bottom: 0;
  padding-top: 0 !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wrapper-main>#main ul li:before {
  content: ">>";
  font-family: IBM Plex Mono, monospace;
  font-weight: bold;
  position: relative;
  top: 36px;
  left: -40px;
}

.wrapper-main>#main ul {
  list-style: none;
  margin: 0;
  padding: 0 2rem;
}

.wrapper-bg-image {
  display: flex;
  position: fixed;
  width: auto;
  left: 400px;
  top: 300px;
  height: 100%;
  max-height: 66vh;
  z-index: -1;
}